{% extends "base.html" %}
{% block title %}Testr{% endblock %}
{% block navbar %}
    {{ super() }}
    <!--<div class="container-fluid">-->
        <!--<div class="row">-->
        <!--<div class="col-sm-3 col-md-2 sidebar">-->
          <!--<ul class="nav nav-sidebar">-->
            <!--<li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>-->
            <!--<li><a href="#">List Tests</a></li>-->
            <!--<li><a href="#">Grades</a></li>-->
            <!--<li><a href="#">Performance Analysis</a></li>-->
          <!--</ul>-->
        <!--</div>-->
{% endblock %}

{% block page_content %}
    <div ng-app="testr" ng-controller="loginController">
        <div class="content" align="center" >
            <form action="" method=post class="form-horizontal">
                    <h2>Register for Testr </h2> <br>
                <div class="control-group">
                    <div class="controls">
                      <input type="text" id="username" name="username" class="input-xlarge"
                        placeholder="Enter Username" value="{{ request.form.username }}"
                        required>
                    </div>
                </div>
                <br>
                <div class="control-group">
                    <div class="controls">
                      <input type="password" id="password" name="password" class="input-xlarge"
                        placeholder="Enter Password" value="{{ request.form.password }}"
                        required>
                    </div>
                </div>
                <br>
                <div class="control-group">
                    <div class="controls">
                      <input type="email" id="email" name="email" class="input-xlarge"
                        placeholder="Enter Email" value="{{ request.form.email }}"
                        required>
                    </div>
                </div>
                <br>
                <div class="control-group">
                    <div class="controls">
                      <button type="submit" class="btn btn-success">Signup</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
 </div>
<!--</div>-->
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="static/angular/loginController.js"></script>
{% endblock %}
