{% extends "base.html" %}
{% block title %}Testr{% endblock %}
{% block navbar %}
    {{ super() }}
    <div class="container-fluid">
        <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="/listTests">List Tests</a></li>
            <li><a href="/viewGrades">Grades</a></li>
            <!--<li><a href="#">Performance Analysis</a></li>-->
          </ul>
        </div>
{% endblock %}
{% block page_content %}
    <div ng-app="testr" ng-controller="studentController">

        <div class="page-header col-md-offset-3 content">

        <h1 class="text-center"> Welcome to Testr </h1>
        <h2 class="text-center"> The smart way to take Tests </h2>
        <p class="bg-success text-center"> List of upcoming Tests </p>
        <p class="bg-info text-center">List of recently Graded Tests </p>
        <p class="bg-warning text-center">Performance Analysis</p>

        </div>
    </div>
 </div>
</div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="/static/angular/studentController.js"></script>
{% endblock %}
