{% extends "base.html" %}
{% block title %}Testr{% endblock %}
{% block navbar %}
    {{ super() }}
{% endblock %}
{% block page_content %}
    <div ng-app="testr" ng-controller="testController">
        <div class="content">
            <form class="well">
                <div class="form-group">
                    <label for="testName">Test Name</label>
                    <input type="text" class="form-control" id="testName" placeholder="Name of the Test" ng-model="testName">
                </div>
                <div class="form-group">
                    <label for="startTime">Start Time</label>
                    <input type="datetime-local" class="form-control" id="startTime"  ng-model="startTime">
                </div>
                <div class="form-group">
                    <label for="dOfTest">Duration of Test</label>
                    <input type="number" max=60 min=20 class="form-control" id="dOfTest" ng-model="dOfTest">
                </div>
                <div class="form-group">
                    <label for="expiryDate">Expiry Date</label><br>
                    <input type="datetime-local" class="form-control" id="expTime"  ng-model="expTime">
                </div>
                <div class="form-group">
                    <label for="category">Category</label>
                    <input type="text" class="form-control" id="category" ng-model="category">
                </div>
                <div class="form-group">
                    <label for="course">Course</label>
                    <input type="text" class="form-control" id="course" ng-model="course">
                </div>
                <div class="form-group">
                    <label for="questions">Questions</label>
                    <!--<div> {{ q_list }} </div> -->
                    <table class="table table-condensed" id="tableID1">
                       <thead>
                         <tr>
                           <th>ID</th>
                           <th>Question</th>
                         </tr>
                       </thead>
                         <tbody>

                    {% for x in q_list %}
                            <tr>
                                <td><input type="checkbox" ng-click="handleCheckEvent()"></td>
                                <td>{{x.question}}</td>
                                <td><p style="display: none;">{{x._id}}</p></td>
                            </tr>
                      {% endfor %}
                      </tbody>
                      
                    </table>
                </div>
                
                <div class="form-group">
                    <!--<button onclick="location.href='login'">Login</button>-->
                    <button class="alert-info" ng-click="getContent()">Submit</button>
                </div>
            </form>
        </div>
    </div>
<!--</div>-->
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="static/angular/testController.js"></script>
{% endblock %}
