{% extends "base.html" %}
{% block title %}Testr{% endblock %}
{% block navbar %}
    {{ super() }}
{% endblock %}
{% block page_content %}
    <div ng-app="testr" ng-controller="testController">
        <div class="content">
            <form class="well">
                <div class="form-group">
                    <label for="testName">Test Name</label>
                    <input type="text" class="form-control" id="testName" placeholder="Name of the Test" ng-model="testName">
                </div>
                <div class="form-group">
                    <label for="startTime">Start Time</label>
                    <input type="datetime-local" class="form-control" id="startTime"  ng-model="startTime">
                </div>
                <div class="form-group">
                    <label for="dOfTest">Duration of Test</label>
                    <input type="number" max="60" min="20" class="form-control" id="dOfTest" ng-model="dOfTest">
                </div>
                <div class="form-group">
                    <label for="answerType">Answer Type</label><br>
                    <div ng-init="answerType.selected=FALSE"></div>
                    <div class="radio-inline" ng-repeat="option in userOptions">
                        <input type="radio" name="AnswerType" ng-model="answerType.selected" value="{{option.id|angular}}" id="{{option.id|angular}}">{{option.text|angular}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="referenceAnswer">Reference Answer</label>
                    <input type="text" class="form-control" id="referenceAnswer" placeholder="Enter the answer separated by comma" ng-model="referenceAnswer">
                </div>
                <div class="form-group">
                    <label for="options">Options</label>
                    <input type="text" class="form-control" id="options" placeholder="Enter the options separated by comma" ng-model="options">
                </div>
                <div class="form-group">
                    <button class="alert-info" ng-click="createQuestion()">Submit</button>
                </div>
            </form>
        </div>
    </div>
<!--</div>-->
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="static/angular/questionController.js"></script>
{% endblock %}
