{% extends "base.html" %}
{% block title %}Testr{% endblock %}
{% block navbar %}
    {{ super() }}
{% endblock %}
{% block page_content %}


        <div class="content">
            <table class="table table-condensed" id="tableID">
                       <thead>
                         <tr>
                                <th>Course</th>
                                <th>Category</th>
                                <th>Test Name</th>
                                <th>Grade</th>
                         </tr>
                       </thead>
                         <tbody>
                            <tr>
                                <td>OOAD</td>
                                <td>Design Pattern, Object Oriented Program</td>
                                <td>Design Patterns</td>
                                <td>4/4</td>
                            </tr>
                      </tbody>


        </div>

{% endblock %}
{% block scripts %}
    {{ super() }}
{% endblock %}
